.App {
  background-color: rgb(30, 28, 37);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 40%;
  height: 80vh;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(230, 230, 233, 0.918);
  transition: 0.3s;
  background-color: rgb(122, 122, 122);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
